/******* Bootstrap Theming ********/

            $primary: #DF9C30; // Color para letras en fondos oscuros
            $secondary: #5C3F22; // Color de fondo oscuro
            $light: #F5F0EB; // Color de fondo claro
            $dark: #624315; // Color para letras en fondos claros

            $font-family-sans-serif: 'Montserrat',
            sans-serif;

            $headings-font-family: 'Roboto',
            sans-serif;

            $body-bg: $light;

            $body-color: $dark;

            $headings-color: $secondary;

            $display1-size: 8rem;

            $enable-responsive-font-sizes: true;

            $enable-rounded: false;

            $enable-shadows: false;

            @import "bootstrap/scss/bootstrap";

            /********** Custom CSS ************/
            h1,
            h2,
            .font-weight-bold {
                font-weight: 700 !important;
            }

            h3,
            h4,
            .font-weight-medium {
                font-weight: 500 !important;
            }

            h5,
            h6,
            .font-weight-normal {
                font-weight: 400 !important;
            }

            .btn-primary {
                color: $light;
                background-color: $primary;
                border-color: $primary;
            }

            .back-to-top {
                background-color: $secondary;
                color: $primary;
            }

            .container-fluid.nav-bar {
                background-color: $secondary;
            }

            .navbar-dark .navbar-nav .nav-link {
                color: $light;
            }

            .navbar-dark .navbar-nav .nav-link:hover,
            .navbar-dark .navbar-nav .nav-link.active {
                color: $primary;
            }

            .section-title {
                background-color: $light;
                color: $dark;
            }

            .footer {
                background-color: $secondary;
                color: $primary;
            }

